<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="utf8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Nikolang - Nikolas Magno Scripting Language</title>

  <meta prefix="og: http://ogp.me/ns#" property='og:title' content="PORRA - Bambam's 'It's show time' Recursive Language" />
  <meta prefix="og: http://ogp.me/ns#" property='og:type' content='website' />

  <meta prefix="og: http://ogp.me/ns#" property='og:description'
        content='Vem cumpade! Sai de casa codei pra caralho! PORRA!' />

  <meta prefix="og: http://ogp.me/ns#" property='og:site_name' content='PORRA' />

  <meta property="og:url"           content="https://birl-language.github.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="PORRA - Bambam's 'It's show time' Recursive Language" />
  <meta property="og:description"   content="Vem cumpade! Sai de casa codei pra caralho! PORRA!" />
  <meta property="og:image"         content="https://birl-language.github.io/images/birl2.png" />

  <meta property="fb:admins" content="100002158398392"/>
  <meta property="fb:admins" content="100002144931535"/>

  <!-- core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.transitions.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/pictonic.css" rel="stylesheet">
  <link href="css/newicons.css" rel="stylesheet">
  <link href="css/flex-calendar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body id="home" class="homepage" ng-app="birlWeb">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=362013387327951";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <section id="upcoming" ng-controller="birlCtrl">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-wrap">
            <div class="center-inner">
              <img src="images/birl2.png" class="center-img">
            </div>
          </div>
      </div>
      <div class="section-header">
        <h2 class="section-title text-center">Nikolang</h2>
        <p class="text-center birl-text">
          A Nikolang é a linguagem de programação mais bosta já inventada. <br><span class="highlight">Deve ser utilizada apenas por quem escreve código realmente merda. </span><br>
        </p>
      </div>

      <div class="row console">
        <div class="col-xs-12 col-sm-6 nopadding">
          <div class="editor" ui-ace="{useWrapMode : true,showGutter: true,theme:'monokai',mode: 'birl'}" ng-model="code">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 nopadding">
          <div class="title title-right">
            Entrada
          </div>
          <div class="entrance">
            <textarea ng-model="stdin" placeholder="..."></textarea>
          </div>
          <div class="title">
            <button class="btn btn-danger btn-large" ng-click="sendBirl()" ng-disabled="disabled">{{btText}}</button>
          </div>
          <div class="title">
            Saída
          </div>
          <div class="exit" ng-class="{'error' : temErro}">
            {{stdout}}
          </div>
          <div class="title bottom">
            <a class="btn btn-danger btn-large" ng-href="{{ fileUrl }}" download="codigo.birl"><span class="fa fa-cloud-download"></span> Baixar essa porra</a>
          </div>
        </div>
      </div>
      <div class="fb-like" data-href="https://birl-language.github.io" data-width="800" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </section><!--HOME-->


  <section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">FAZENDO MERDA</h2>
            <p class="text-center wow fadeInDown">
            </p>
        </div>
        <div class="row">
          <div class="col-xs-12 tutorial-out">
              <div class="tutorial-box">
                  <h3>Início do código</h3>
                  <div class="code">
                      <p>
                          <span class="red">DEIXA EU TRABALHAR</span>
                          <br>
                          <span class="comment">//código aqui</span>
                          <br>
                          <span class="red">PORRA</span>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Tipos de dados</h3>
                  <div class="code">
                      <p>
                          <span class="red">BOBO</span> FR = 'a'; <i>(char)</i><br>
                          <span class="red">TRISTEZA</span> M1 = 13; <i>(short)</i><br>
                          <span class="red">BOSTA</span> M2 = 37; <i>(int)</i><br>
                          <span class="red">MERDA</span> M3 = 666; <i>(long)</i><br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Tipos de dados</h3>
                  <div class="code">
                      <p>
                          <span class="red">DESGRAÇA</span> T = 0.13; <i>(float)</i><br>
                          <span class="red">MUITO DESGRAÇA</span> TD = 0.37; <i>(double)</i><br>
                          <span class="red">TCHURURU</span> BOBO BF = 200; <i>(unsigned)</i><br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Printar na tela</h3>
                  <div class="code">
                      <p>
                          <br>
                          <span class="red">OLHA ESSA MERDA</span> ("Hello, Mutante")<span class="red">;</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Ler da tela</h3>
                  <div class="code">
                      <p>
                          BOSTA X;<br>
                          <span class="red">OLHA ESSA MERDA</span> ("%d", &X)<span class="red">;</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>If</h3>
                  <div class="code">
                      <p>
                          <br>
                          <span class="red">COMO ASSIM CE FALA?</span> (3 > 2)<br>
                          <span class="comment">//código a ser executado</span><br>
                          <span class="red">PORRA</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>If/Else</h3>
                  <div class="code">
                      <p>
                          <span class="red">COMO ASSIM CE FALA?</span> (X > 2)<br>
                          <span class="comment">//caso verdadeiro</span><br>
                          <span class="red">CE TA USANDO UMA DROGA?</span><br>
                          <span class="comment">//caso falso</span><br>
                          <span class="red">PORRA</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Else if</h3>
                  <div class="code">
                      <p>
                          <span class="red">COMO ASSIM CE FALA?</span> (X > 2)<br>
                          <span class="comment">//X > 2</span><br>
                          <span class="red">CE TA BURRO?</span> (X < 2)<br>
                          <span class="comment">//X < 2</span><br>
                          <span class="red">CE TA USANDO UMA DROGA?</span><br>
                          <span class="comment">//X = 2</span><br>
                          <span class="red">PORRA</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>While</h3>
                  <div class="code">
                      <p>
                          <br>
                          BOSTA X = 5;<br>
                          <span class="red">REUNIÃO DE NOVO</span> (X > 2)<br>
                          <span class="comment">//rodar código</span><br>
                          <span class="comment"></span>X--;<br>
                          <span class="red">PORRA</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>For</h3>
                  <div class="code">
                      <p>
                          <br>
                          <br>
                          BOSTA M;<br>
                          <span class="red">MAIS UMA REUNIÃO</span> (M = 0; M < 5; M++)<br>
                          <span class="comment"></span>OLHA ESSA MERDA ("%d", M);<br>
                          <span class="red">PORRA</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Break/Continue</h3>
                  <div class="code">
                      <p>
                          BOSTA M;<br>
                          <span class="red">MAIS UMA REUNIÃO</span> (M = 0; M < 5; M++)<br>
                          <span class="comment">//continue</span><br>
                          <span class="comment"></span><span class="red">PARTIU;</span><br>
                          <span class="comment">//break</span><br>
                          <span class="comment"></span><span class="red">NINGUÉM QUER ISSO;</span><br>
                          <span class="red">PORRA</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Declarar função</h3>
                  <div class="code">
                      <p>
                          <span class="red">OH OS VÉI PELADO</span> (BOSTA NOMEFUNC(BOSTA A, BOSTA B))<br>
                          <span class="comment">//código da função</span><br>
                          <span class="comment"></span><span class="red">BORA TRABALHAR</span> 1<span class="red">;</span><br>
                          <span class="red">PORRA</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Chamar função</h3>
                  <div class="code">
                      <p>
                          BOSTA A = 5; <br>
                          BOSTA B = 8; <br>
                          BOSTA C = <span class="red">SOU JESUS</span> SOMAR(A, B);<br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="section-header bottom-header">
        <h2 class="section-title text-center wow fadeInDown"></h2>
        <p class="text-center wow fadeInDown">
          É isso ai galera do Nikolang! Estamos finalizando o tutorial, acho que deu pra vocês pegarem hoje bastante informação.
        </p>
      </div>
  </section>

  <section id="operation">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Exemplo</h2>
        <p class="text-center wow fadeInDown">
          Fiz um código bosta! Nada mais justo.
        </p>
      </div>
      <div class="row example">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 code code-right">
           <span class="red">OH OS VÉI PELADO</span> (BOSTA SOMAR(BOSTA A, BOSTA B))<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">BORA TRABALHAR</span> A + B;<br>
           <span class="red">PORRA</span><br><br>

           <span class="red">DEIXA EU TRABALHAR</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOSTA A, B, RES;<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">OLHA ESSA MERDA</span> ("Fala, caralho!!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">OLHA ESSA MERDA</span> ("%d %d", &A, &B);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RES = <span class="red">SOU JESUS</span> SOMAR(A, B);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">OLHA ESSA MERDA</span> ("Oh o resultado ai po: %d\n", RES);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">COMO ASSIM CE FALA?</span> (RES == 37)<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">OLHA ESSA MERDA</span> ("Nada mais justo!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">CE TA USANDO UMA DROGA?</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">OLHA ESSA MERDA</span> ("Vou arrancar os braços dele!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">PORRA</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">BORA TRABALHAR</span> 0;<br>
           <span class="red">PORRA</span><br>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div id="footer_inside">
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            &copy; 2019 Harry e Alberto
          </div>

          <div class="col-xs-2">
            <ul class="social-icons pull-right">
              <li>
                <a href="https://github.com/VitorCioletti/nikolang">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              v1.3
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <script src="js/angular.min.js"></script>
  <script src="js/angular/controllers.js"></script>
  <script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ui-ace.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>

</html>
